@charset "utf-8";

a {text-decoration: none; color:#333;}
ul li {list-style:none; }

/* 공통 */
.fl {float:left; }
.tc {text-align:center; }

/* 게시판 목록 */
#board_area {width: 900px;  margin: 0 auto; position: relative; }
.list-table thead th{ height:40px; border-top:2px solid #09C; border-bottom:1px solid #CCC; font:bold 17px 'malgun gothic','Sans-Serif','arial';  }
.list-table tbody td{ text-align:center; padding:10px 0; border-bottom:1px solid #CCC; height:20px; font: 14px 'malgun gothic','Sans-Serif','arial';}
#write_btn {position: absolute; margin-top:20px; right: 0;}
.re_ct {font-weight:bold; color:blue;}
.fo_re {font-weight: bold; color:red;}
#page_num {position: absolute; left: 260px; margin-top:20px; font-size: 14px; }
#page_num ul li {float: left; margin-left: 10px; }

/* 게시판 글쓰기 */
#board_write {width:900px; position:relative; margin:0 auto; }
#write_area {margin-top:70px; font:14px 'malgun gothic','Sans-Serif','arial'; }
#in_title {margin-top:30px; }
#in_title textarea {font:bold 26px 'malgun gothic','Sans-Serif','arial'; color:#333; width: 900px; border:none; resize: none; }
#wi_line {border:solid 1px lightgray; margin-top:10px;  }
#in_content {margin-top:10px; }
#in_content textarea {font:14px 'malgun gothic','Sans-Serif','arial'; color:#333; width: 900px; height: 400px; resize: none;}
#in_pw input {font:14px 'malgun gothic','Sans-Serif','arial'; margin-top:10px; }
#in_lock {margin-top:10px;}
.bt_se {margin-top:20px; text-align:center;}
.bt_se button {width:100px; height:30px; }

/* 게시판 read */
#board_read {width:900px; font-family:'malgun gothic','Sans-Serif','arial'; margin: 0 auto;  position: relative; word-break:break-all; }
#user_info {font-size:14px;}
#user_info ul li {float:left; margin-left:10px; }
#bo_line {width:880px; height:2px; background: gray; margin-top:20px;}
#bo_content {margin-top:20px; }
#bo_ser {font:14px 'malgun gothic','Sans-Serif','arial'; color:#333;  position: absolute; right: 0; }
#bo_ser > ul > li {float:left; margin-left:10px;}
#dap_edit {display:block; border: solid 1px red; }

/* 댓글 */
.reply_view {width:900px; position: relative; top:100px;  margin: 0 auto; word-break:break-all;}
.dap_lo {font-size: 14px; padding:10px 0 10px 0; border-bottom: solid 1px gray; }
.dap_to {margin-top:5px; }
.rep_me {font-size:12px; }
.rep_me li {float:left; margin-left: 10px; }
#re_line {background:gray; width: 800px; height: 1px; margin-top:20px; }
.re_bt { width:100px; height:50px;  font-size:16px; }
.reply_co_dep {display:none; margin-left:0px; margin-top:20px; }
.dap_ins {margin-top:50px; }
.dat_edit {display:none; }
.dap_sm {position: absolute; top: 10px; }
.dap_edit_t{width:520px; height:70px; position: absolute; top: 40px; }
.re_mo_bt {position: absolute; top:40px; right: 5px; width: 90px; height: 72px; }
.dat_edit_bt {cursor: pointer;}
